static/ant/ANT - prod/temp/retrieve_all/flows/Remove_oppurtinity_and_send_email_to_the_owner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_owner</name>
        <label>Send Notification to owner</label>
        <locationX>665</locationX>
        <locationY>377</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_oppurtinity</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>asdasd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>asdasd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varOwnerEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Remove oppurtinity and send email to the owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove oppurtinity and send email to the owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Remove_oppurtinity</name>
        <label>Remove oppurtinity</label>
        <locationX>642</locationX>
        <locationY>556</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppurtinityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_oppurtinity_owner</name>
        <label>Find oppurtinity owner</label>
        <locationX>648</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_owner_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppurtinityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_owner_email</name>
        <label>Find owner email</label>
        <locationX>657</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOwnerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_oppurtinity_owner</startElementReference>
    <variables>
        <name>varOppurtinityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
